:root {
    --text: #FFFFFF;
    --bg: #181721;
    }
    
body {
color: var(--text);
background-color:var(--bg);
}

.title h1{
font-size: 8rem;
text-align: center;
}

.button1 button{
background-color: rgb(200,0,0);
color: white;
border: none;
height: 8rem;
width:8rem;
border-radius: 8px;
}